.reminder-form .reminder-form__field {
  margin: 5%; }
  .reminder-form .reminder-form__field button {
    border-radius: 20px;
    background-color: #3f51b5;
    border: transparent;
    padding: 5%;
    color: white;
    font-weight: bold;
    margin: 1%;
    cursor: pointer; }
